@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header-wrapper{
    display: grid;
    background-color: #00010D;
    grid-template-columns: auto auto auto;
    color: white;
    grid-template-rows: 5rem;
    /* position: fixed; */
    width: 100%;
}

.logo{
  height: 100%;
  object-fit: cover;
}
.header-logo{
  padding: 10px;
  text-align: right;
}
.header-title{
  padding: 10px;
  text-align: center;
  align-self: center;
}
.nav a{
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}
.nav a:hover{
  color: #1BF2F2;
}
.header-nav{
  padding: 10px;
  text-align: center;
  align-self: center;
}
.banner{
  background: url('../src/assets/images/serv.jpg');
  height: 500px;
  width: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.content{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1{
    color: #000000;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
    align-items: center;
}

.foot{
  background-color: #000000;
  text-align: center;
  color: white;
  height: 150px;
}
.cfoot{
  display: grid;
  grid-template-columns: auto auto auto;
  height: auto;
}
.logo2{
  width: 80px;
  height: 80px;
  margin-top: 20px;
}
.enlaces a{
  text-decoration: none;
  color: #ffffff;
  margin-top: 50px;
}
.enlaces a:hover{
  color: #1BF2F2;
}
.enlaces{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.network-img{
  width: 40px;
  height: 40px;
  margin-top: 50px;

}
.cont-soc{
  width: 40px;
  height: 40px;
}
.social{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}